name: Run Sanity Tests (Electron)

on:
  workflow_dispatch:
  # schedule:
  #   - cron: "*/30 * * * *"  # every 30 minutes (in UTC)

jobs:
  cypress-run:
    runs-on: macos-latest
    env:
      CYPRESS_APP_HOST: staging.violetgrowth.com
      CYPRESS_BACKEND_HOST: api.portal.exacti.us
      NPM_CONFIG_LEGACY_PEER_DEPS: "true" # needed for exactius-cypress-tests repo
      CYPRESS_EXTRA_ALLOW_HOSTS: public.tableau.com,online.tableau.com,cdn.violetgrowth.com,storage.googleapis.com,a.clarity.ms,client.crisp.chat,www.google-analytics.com,b7lqhwwc.apicdn.sanity.io,prod-useast-b.online.tableau.com,prod.telemetry.tableausoftware.com,www.googletagmanager.com,www.clarity.ms,scripts.clarity.ms,lh3.googleusercontent.com,kejbdjndbnbjgmefkgdddjlbokphdefk,fonts.gstatic.com,fonts.googleapis.com,d6lttq8hqy2mc.cloudfront.net,cross-domain-cookie-check.netlify.app,client.relay.crisp.chat,app-cdn.clickup.com,accounts.google.com,c.clarity.ms,o.clarity.ms,c.bing.com,y.clarity.ms,forms.clickup.com,cdn.sanity.io,exacti.us,lookerstudio.google.com,cdn-cookieyes.com,connect.facebook.net,tracking.exacti.us,snap.licdn.com,s3-us-west-2.amazonaws.com,geolocation-db.com,connect.facebook.net

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Run Sanity Cypress test (Electron)
        run: npx cypress run --browser electron --spec "cypress/tests/violet_app/sanity/sanity.cy.js"

      - name: Upload videos (on failure)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: demo-videos
          path: cypress/videos
          if-no-files-found: ignore
