name: Run Analytics Cypress Tests

on:
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run analytics1 tests (Chrome)
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          spec: cypress/tests/violet_app/analytics/analytics1.cy.js
          install: false

      - name: Run analytics2 tests (Chrome)
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          spec: cypress/tests/violet_app/analytics/analytics2.cy.js
          install: false

      - name: Upload videos
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos
          path: cypress/videos

      - name: Upload screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: cypress/screenshots
