name: Run All Browsers Cypress Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm ci

      - name: Install Microsoft Edge
        run: |
          curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg
          sudo install -o root -g root -m 644 microsoft.gpg /etc/apt/trusted.gpg.d/
          sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/edge stable main" > /etc/apt/sources.list.d/microsoft-edge.list'
          sudo apt update
          sudo apt install -y microsoft-edge-stable

      - name: Run Cypress chrome tests
        run: npx cypress run --browser chrome --spec "cypress/tests/violet_app/analytics/analytics.cy.js"
      - name: Run Cypress chromium tests
        run: npx cypress run --browser chromium --spec "cypress/tests/violet_app/analytics/analytics.cy.js"
      - name: Run Cypress firefox tests
        run: npx cypress run --browser firefox --spec "cypress/tests/violet_app/analytics/analytics.cy.js"
      - name: Run Cypress edge tests
        run: npx cypress run --browser edge --spec "cypress/tests/violet_app/analytics/analytics.cy.js"
      - name: Run Cypress electron tests
        run: npx cypress run --browser electron --spec "cypress/tests/violet_app/analytics/analytics.cy.js"

      - name: Upload videos
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos
          path: cypress/videos

      - name: Upload screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: cypress/screenshots
