name: Run Cypress Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm ci

      # - name: Run Cypress extra tests
      #   run: npx cypress run --browser chrome --spec "cypress/tests/violet_app/sanity/extras.cy.js"
      - name: Run Cypress analytics tests
        run: npx cypress run --browser chrome --spec "cypress/tests/violet_app/analytics/analytics.cy.js"
      - name: Run Cypress features tests
        run: npx cypress run --browser chrome --spec "cypress/tests/violet_app/features/features.cy.js"
      - name: Run Cypress errors tests
        run: npx cypress run --browser chrome --spec "cypress/tests/violet_app/regression/errors.cy.js"
      - name: Run Cypress regression tests
        run: npx cypress run --browser chrome --spec "cypress/tests/violet_app/regression/regression.cy.js"
      - name: Run Cypress regression-windows tests
        run: npx cypress run --browser chrome --spec "cypress/tests/violet_app/regression/regression-windows.cy.js"
      - name: Run Cypress security tests
        run: npx cypress run --browser chrome --spec "cypress/tests/violet_app/regression/security.cy.js"
      - name: Run Cypress sanity tests
        run: npx cypress run --browser chrome --spec "cypress/tests/violet_app/sanity/sanity.cy.js"
      - name: Run Cypress sanity-windows tests
        run: npx cypress run --browser chrome --spec "cypress/tests/violet_app/sanity/sanity-windows.cy.js"

      - name: Upload videos
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos
          path: cypress/videos

      - name: Upload screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: cypress/screenshots
